
<div class="welcome">
    <h1>Welcome {{(authService.user | async)?.displayName }}!</h1>
     
    <mat-form-field> <!--הוספת טודו-->
      <input [(ngModel)] = "text" matInput type = "text" placeholder="add todo">
    </mat-form-field>
    <button mat-raised-button (click) = "addTodo()"> Add Todo </button>
      

    <br>

              <mat-form-field class="example-container"><!--דרופדאון-->
                <mat-select placeholder="Status to Filter" [(value)]="ifStatus" (selectionChange)="toFilter()">
                  <mat-option>All</mat-option>
                  <mat-option *ngFor="let status of taskStatus" [value]="status">
                    <span *ngIf = "status">Done</span>
                    <span *ngIf = "!status">Not Done</span>
                  </mat-option>
             </mat-select>
              </mat-form-field>
             
     <br>       
              <mat-card-content><!--הצגת טודוס קיימים-->
                  <mat-card-subtitle >
                  Your current todo task :
                  </mat-card-subtitle>
                  <todo class="checkbox" *ngFor = "let todo of todos"
                          [data] = "todo"
                          (myButtonClicked) = "showText($event)">
                  </todo>
              </mat-card-content>


       


  <!-- 
<br> 
  
   <p>your todos are:</p>
   <ul>
    <todo *ngFor = "let todo of todos" 
    [data]= "todo"></todo>
  </ul>-->

   </div>
 